/*single product layout */
.single-product-layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 36% auto;
    grid-template-rows: 4em 4em 60px 330px auto;
    grid-template-areas:
            'back-button back-button'
            'edit-group edit-group'
            'img-layout name-layout'
            'img-layout size-color-material-layout'
            'product-description-layout size-color-material-layout'
}

.back-button {
    grid-area: back-button;
}

.edit-group {
    grid-area: edit-group;
}

.img-layout {
    grid-area: img-layout;
}

.product-description-layout {
    grid-area: product-description-layout;
}
.name-layout {
    grid-area: name-layout
}
.size-color-material-layout {
    grid-area: size-color-material-layout;
}


/* single-product-index.js */
.product-color{
    width: 40px;
    height: 40px;
    border-radius: 2px;
}

.product-material{
    border:1px solid;
    width:80px;
    height:35px;
    border-radius:2px;
    text-align:center
}

.product-description{
    width: 376px;
    height: 330px;
}

.product-card-information{
    width: 700px;
    height: 700px;
}

.product-material-card{
    width: 210px;
    height: 280px;
}

.single-product-material-img{
    height:120px;
    text-align: center;
}

.single-product-material-no-img{
    height:120px;
    text-align: center;
    background-color: #e4e4e4;
}

.edit-btn{
    width: 40px;
    height: 40px;
    border-style: dotted;
    padding-right: 4px;
    padding-left: 4px;
}

.single-product-img-container{
    border:1px solid #e8e8e8;
    width: 376px;
    height:390px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.upload-btn-wrapper:hover{
    cursor: pointer;
}

.btn-upload {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.product-big-ava-img{
    height:320px;
    width:370px;
}

.product-big-ava-no-img{
    width:370px;
    height:320px;
    text-align: center;
    background-color: #e4e4e4;
}

.size-card{
    width: 40px;
    height: 40px;
    border: 1px solid #b2b2b2;
    text-align: center;
}

.size-value{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media only screen and (max-width: 1370px){
    .single-product-layout {
        height: 100vh;
        display: grid;
        grid-template-columns: 390px auto;
        grid-template-rows: 4em 4em 60px 330px auto;
        grid-template-areas:
                'back-button back-button'
                'edit-group edit-group'
                'img-layout name-layout'
                'img-layout product-description-layout'
                'size-color-material-layout size-color-material-layout'
    }
}

@media only screen and (max-width: 1060px){
    .single-product-layout {
        height: 100vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 4em 4em 60px 390px auto;
        grid-template-areas:
                'back-button'
                'edit-group'
                'name-layout'
                'img-layout'
                'product-description-layout'
                'size-color-material-layout'
    }
}

/* products-display.js */
.product-card-wrapper{
    height:440px;
    width:300px;
}

.product-card-display{
    width:280px;
}

.products-display-img{
    height:160px;
}
.products-display-no-img{
    height:160px;
    text-align: center;
    background-color: #e4e4e4;
}

.no-image-text{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 1.2em;
    color:black;
}

.products-display-color{
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.products-display-material{
    border:1px solid;
    width:40px;
    height:25px;
    border-radius:2px;
    text-align:center
}

.product-price{
    float:right;
    font-size: 0.9em;
    color:cornflowerblue;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
