/* single-product.js */
.product-color{
    width: 40px;
    height: 40px;
    border-radius: 2px;
}

.product-material{
    border:1px solid;
    width:80px;
    height:35px;
    border-radius:2px;
    text-align:center
}

.product-description{
    width: 350px;
    height: 150px;
}

.product-card-information{
    width: 600px;
    height: 500px;
}

.add-color-btn{
    width: 40px;
    height: 40px;
    border-style: dotted;
}


/* products-display.js */
.product-card-wrapper{
    height:360px;
}

.product-card-display{
    width:265px;
}

.product-img{
    height:160px;
}

.products-display-color{
    width: 25px;
    height: 25px;
    border-radius: 2px;
}

.products-display-material{
    border:1px solid;
    width:40px;
    height:25px;
    border-radius:2px;
    text-align:center
}
