/* single-product-index.js */
.product-color{
    width: 40px;
    height: 40px;
    border-radius: 2px;
}

.product-material{
    border:1px solid;
    width:80px;
    height:35px;
    border-radius:2px;
    text-align:center
}

.product-description{
    width: 376px;
    height: 310px;
}

.product-card-information{
    width: 750px;
    height: 700px;
}

.product-material-card{
    width: 210px;
    height: 280px;
}

.edit-btn{
    width: 40px;
    height: 40px;
    border-style: dotted;
    padding-right: 4px;
    padding-left: 4px;
}

.img-container{
    border:1px solid #e8e8e8;
    width: 376px;
    height:390px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.upload-btn-wrapper:hover{
    cursor: pointer;
}

.btn-upload {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: bold;
}


.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/* products-display.js */
.product-card-wrapper{
    height:440px;
}

.product-card-display{
    width:280px;
}

.product-img{
    height:160px;
}

.products-display-color{
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.products-display-material{
    border:1px solid;
    width:40px;
    height:25px;
    border-radius:2px;
    text-align:center
}
