body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 14px;
}

/*Main layout of app*/
.App {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 4em auto 50px;
    grid-template-areas:
            'header header'
            'nav content'
            'footer footer';
}

.content {
    grid-area: content;
    overflow-y: scroll;
    padding: 2em;
}

.header {
    grid-area: header;
    z-index: 1;
    border-bottom:1px groove;
    /*content*/
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sider {
    grid-area: nav;
    border-right: 1px groove;
    max-height: 602px;
    overflow-x: hidden;
}
.footer {
    grid-area: footer;
    background-color: white;
    border-top: 1px solid;
}

.ant-layout-sider {
    border-right: 1px groove;
}