/*single-material.js */
.img-container{
    border:1px solid #e8e8e8;
    width: 376px;
    height:390px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.upload-btn-wrapper:hover{
    cursor: pointer;
}

.btn-upload {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: bold;
}


.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/*material-list.js*/
.material-card-wrapper{
    height:360px;
}

.material-card-display{
    width:265px;
}

.material-img{
    height:160px;
}