.company-header {
  display: flex;
  min-height: 2em;
}

.companies-title {
  margin: 0.4em;
}
.header-text {
  width: 100%;
  align-self: center;
}

.logout-button {
  flex: 'flex-end';
  margin-right: 1em;
}