.company-header {
  display: flex;
  max-height: 3em;
  margin: -10px -14px -10px -40px;
  padding: 10px 14px 10px 40px;
}

.companies-title {
  margin: 0.4em;
}
.header-text {
  width: 100%;
  align-self: center;
}

.logout-button {
  flex: 'flex-end';
  margin-right: 1em;
}