.wordwrap {
    white-space: pre-line !important;
    word-wrap: break-word;
}

.wordwrapEdit {
    white-space: pre-line !important;
    word-wrap: break-word;
    background-color: #e8e8e8;
}

.alignRight {
    text-align: right;
}

.table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bad-value {
    background-color: red;
}
/*
.ReactTable .rt-thead .rt-resizable-header {
    overflow: hidden !important;
}
*/