/* header-bar.js */

.main-nav {
    display: flex;
    margin-left:auto;
    margin-right: 2rem;
}
  
.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.main-nav__item {
    margin: 0 1rem;
    align-self: center;

}

.main-nav__item a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.8rem;
    font-size: 1.2rem;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: #1890ff;
}

.side-bar-menu{
    height: 100%;
    border-right: 0;
}

.logo {
    margin: 0.5em;
    color: white
}

.season-menu {
    background: #EBECF8;
}

.collection-menu {
    background: #D6D8DF;
}

.ant-menu-submenu > .ant-menu {
    background: inherit;
}

.ant-menu-submenu ul[id^='seasons$Menu'] {
    background-color: #EBECF8;
}

.ant-menu-submenu ul[id^='collections-season-'] {
    background-color: #D6D8DF;
}

/* breadcrumb.js */
.bread-crumb{
    font-size:17px;
    margin: 0.5em;
    color:white;
    display:inline-block;
}

.ant-breadcrumb a{
    color: white
}

.ant-breadcrumb-separator {
    color:white
}


