/* nav-bar.js */
.nav-bar-menu{
    line-height: 70px;
    font-color:black;
    float:right;
    border:none;
}

/*
side-bar.js
season-side-bar.js
collection-side-bar.js
*/

.side-bar-menu{
    height: 100%;
    border-right: 0;
}

/* breadcrumb.js */
.bread-crumb{
    margin-left: 18%;
    margin-top: 1.5%;
    font-size:20px;
}

/*This is the main container for header sider/nav content and footer*/
.App {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 118px auto 50px;
    grid-template-areas:
            'header header'
            'nav content'
            'footer footer';
}

.content {
    grid-area: content;
    overflow-y: scroll;
    margin-top: 30px;
    margin-left: 50px;
    background-color: white;
}

.header {
    grid-area: header;
    /* Removes antd height*/
    height: auto;
    position: fixed;
    z-index: 1;
    width: 100%;
    opacity: 1;
    background-color:white;
    border-bottom:1px groove;
}
.sider {
    grid-area: nav;
    background-color: #fff;
    border-right: 1px groove;
    height:550px;
    width: 200px;
    border-color:grey;
}
.footer {
    grid-area: footer;
    /* Removes antd padding*/
    padding: 0;
}

